[submodule "deps/cglm"]
	path = deps/cglm
	url = https://github.com/recp/cglm.git
[submodule "deps/gl3w"]
	path = deps/gl3w
	url = https://github.com/skaslev/gl3w
[submodule "deps/SDL"]
	path = deps/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "tools/hmah-shader-to-header"]
	path = tools/hmah-shader-to-header
	url = https://github.com/DoggyXomaX/hmah-shader-to-header
